* {margin: 0;padding: 0;}
*{box-sizing: border-box}
*::after{box-sizing: border-box}
*::before{box-sizing: border-box}
ul,ol{list-style: none;}
a{color:inherit;text-decoration: none;}
input{font: inherit;}
body{
  font-size:14px;
  line-height:1.5;
  height:100vh;
}
/*layout*/
.navBar{
  background: #c62f2f;
  border-bottom:3px  solid#ffffff;
}
.page{
  display: flex;
  height:100vh;
}

.page > main{
  flex-grow: 1;
  border:1px dashed blue;
  background: rgb(175, 171, 171);
  font-size:16px;
  padding-left:30px;
}
.page > main .row{
  padding:5px;
  display: inline-block;
}


form input[type=text],
button{
  padding:3px 8px;
  border-radius:3px;
  border:none;
  border:1px solid #ddd;
  margin-left:5px;
}
button{
  margin-left:calc( 4em + 5px );
  width:80px;
  height: 30px;
  background: #69a2f1;
  border:none;
}
form > .row >label{
  display:inline-block;
}
form > .row > input{
  display: inline-block;
}



/*aside*/
aside{
  display:flex;
  flex-direction: column;
  border:1px solid red;
  width:250px;
  border-radius: 10px;
}
.newSong{
  text-align: left;
  padding:10px; 
  border-bottom:1px solid ;
}
.newSong.active{
  background: #d4d4d4;
  font-family:黑体;
}
.songList-container{
  flex-grow: 1;
}
.songList{
  background: #ffffff;
}
.songList >li{
  border-bottom:3px solid #eeeeee;
  padding:10px;
  

}
.songList >li.active{
  background: #d4d4d4;

}
.upload,
#uploadArea,
#uploadContainer{
  display: flex;
  justify-content: center;
  align-items: center;
}
#uploadArea{
  margin-top:100px;
  background: #fff;
  padding:50px 0;
  width:970px;
} 
#uploadContainer{
  border: 2px dashed #767b7e;
  border-radius: 4px;
  text-align: center;
  width: 913px;
  height: 228px;
  flex-direction: column;
  cursor: pointer;
}

p {
  color: rgb(117, 130, 131)
}
