* {margin: 0;padding: 0;}
*{box-sizing: border-box}
*::after{box-sizing: border-box}
*::before{box-sizing: border-box}
ul,ol{list-style: none;}
a{color:inherit;text-decoration: none;}
input{font: inherit;}
html{
  height:100%;

}
body{
  font-size:14px;
  line-height:1.5;
  height:100%;

}
.icon {
  width: 1em; height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}
/*layout*/
.navBar{
  background: #c62f2f;
  border-bottom:3px  solid#ffffff;
}
.page{
  display: flex;
  height:100%;
}

.page > main{
  flex-grow: 1;
  background: #eeeeee;
  font-size:16px;
  padding-left:30px;
}
.page > main .row{
  padding:5px;
  display: inline-block;
}


form input[type=text],
button{
  padding:3px 8px;
  border-radius:3px;
  border:none;
  border:1px solid #ddd;
  margin-left:5px;
}
button{
  margin-left:calc( 4em + 5px );
  width:80px;
  height: 30px;
  background: #69a2f1;
  border:none;
}
form > .row >label{
  display:inline-block;
}
form > .row > input{
  display: inline-block;
}



/*aside*/
aside{
  display:flex;
  flex-direction: column;
  width:250px;
  border-radius: 10px;
}
.newSong{
  text-align: left;
  padding:10px; 
}
.newSong.active{
  background: #69a2f1;
  font-family:微软雅黑;
  font-weight: bold;
  box-shadow: 2px 1px 5px -1px rgba(0,0,0,0.75);
}
.songList-container{
  flex-grow: 1;
}

.songList{
  background: #ffffff;
}
.songList >li{
  border-bottom:3px solid #eeeeee;
  padding:10px;
  display:inline-block;
  width:230px;
  border-radius: 2px;
}
.songList >li.active{
  background: linear-gradient(120deg, rgb(54, 235, 238) 25%, rgb(166, 177, 221) 64%);
}
.upload,
#uploadArea,
#uploadContainer{
  display: flex;
  justify-content: center;
  align-items: center;
}
#uploadArea{
  margin-top:100px;
  background: #ffffff;
  padding:50px 0;
  width:970px;
  border-radius: 3px;
} 
#uploadContainer{
  border: 2px dashed #767b7e;
  border-radius: 4px;
  text-align: center;
  width: 913px;
  height: 228px;
  flex-direction: column;
  cursor: pointer;
}
#uploadButton{
  width:100%;
  height:100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}


p {
  color: rgb(117, 130, 131)
}
