* {margin: 0;padding: 0;}
*{box-sizing: border-box}
*::after{box-sizing: border-box}
*::before{box-sizing: border-box}
ul,ol{list-style: none;}
a{color:inherit;text-decoration: none;}
input{font: inherit;}
body{
  font-size:14px;
  line-height:1.5;
}
/*layout*/

.page{
  display: flex;
  height:100vh;
}

.page > main{
  flex-grow: 1;
  border:1px dashed blue;
  background: rgb(175, 171, 171);
  font-size:16px;
  padding-left:30px;
}
.page > main .row{
  padding:5px;
  display: flex;
}
form input[type=text],
button{
  padding:3px 8px;
  border-radius:5px;
  border:none;
  border:1px solid #ddd;
  margin-left:5px;
}
button{
  margin-left:calc( 4em + 5px )
}
form > .row >label{
  display:flex;
  width:3em;
  justify-content: flex-end;
}



/*aside*/
aside{
  display:flex;
  flex-direction: column;
  border:1px solid red;
  width:200px;
  border:1px dashed red;
}
.newSong{
  text-align: center;
  padding:10px; 
  border-bottom:1px solid ;
}
.newSong.active{
  background: #d4d4d4;
}
.songList-container{
  flex-grow: 1;
}
.songList{
  border: 1px solid;  
}
.songList >li{
  border-bottom:1px solid #999;
  padding:10px;
  margin:0px 5px;
}
.songList >li.active{
  background: #d4d4d4;

}

#uploadContainer{
  padding: 20px;
  border: 2px dashed #767b7e;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 200px;
  flex-direction: column;
  cursor: pointer;
}

p {
  color: rgb(117, 130, 131)
}
